$half-wrapper: 50%;
$m-outer-gap: 20px 10px;
$nav-drop-shadow: 0px 0px 15px 7px #f4f4f4;
$nav-shadow: inset 0px 0px 8px 2px #e2e1e1;
$txt-formate: capitalize;
$txt-uppercase: uppercase;
$txt-center: center;
$red-color: #ff0000;
$input-length: 30px;
$grey-border: 1px solid #000000;
$sign-in-cover: 150px;
$bold-outline: 2px solid #000000;
$bg-content: #fcf4f4;
$each-product: #ffffff;
$modal-shadow: 0px 10px 14px 3px #dad6d6;

@mixin dropdown-btn {
  display: inline;
  font-size: 14px;
  margin: 5px 10px;
  padding: 4px 10px;
}

@mixin dp-block {
  background-color: $red-color;
  border: none;
  border-radius: $half-wrapper;
  color: #ffffff;
  font-size: 60px;
  height: 90px;
  margin: 30px auto;
  text-align: $txt-center;
  width: 90px;
}

@mixin submit-btn {
  background-color: $red-color;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 15px;
}

@mixin phone-modal-btn {
  border: none;
  border-radius: 10px;
  font-size: 12px;
  margin: 0 6px;
  padding: 4px 10px;
}

@mixin t-block {
  height: 40px;
  width: 90px;
}

@mixin product-btns {
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 4px 10px;
}

@mixin max-height {
  height: 40px;
}

@mixin modal-head {
  height: 60px;
}

@mixin exit-btn {
  border-radius: 5px;
  color: #ffffff;
  display: inline;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
}

@mixin product-add-btn { 
  border: none;
  border-radius: 20px;
  color: $each-product;
  float: right;
  margin-right: 40px;
  padding: 8px 20px;
}

@mixin top-gap {
  padding: 40px 0;
  width: 100%;
}

@mixin error-msg {
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  width: 100%;
}

@mixin login-input {
  height: 30px;
  margin: 20px 0;
}

@mixin question-outer-brim {
  margin: 0 35px;
}

@mixin welcome-block {
  background-image: linear-gradient(to bottom right, #ff0000, #ffa500, #ffff00);
  border-radius: 30px;
  height: 390px;
  padding: 20px;
  place-self: center;
  width: 345px;
}

@mixin form-heading {
  margin-right: 10px 5px;
  text-align: end;
  width: 35%;
}

@mixin red-border {
  border: 2px solid #ff0000; 
}

@mixin wrapper-transition {
  background-image: repeating-conic-gradient(#eed6eb 10%, #ffeded 20%);
  border-bottom: 5px dotted #ff0000;
  border-left: 5px dotted #ffa500;
  border-radius: 50px;
  border-right: 5px dotted #ff0000;
  border-top: 5px dotted #ffa500;
  height: 200px;
  margin: 0 auto;
  padding: 40px;
  transition: width 1s, height 1s, transform 1s;
}

@media only screen and (min-width: 768px) {

  img {
    height: 200px;
    object-fit: contain;
    width: 200px;
  }

  .admin-block {
    @include top-gap;
    background-color: $bg-content;

    table {
      background-color: $each-product;
      border: $bold-outline;
      margin: 0 auto;
      width: $half-wrapper;

      th {
        border: $bold-outline;
        padding: 15px;
        text-align: $txt-center;
      }

      td {
        border-right: $bold-outline;
        border-bottom: $grey-border;
        text-align: $txt-center;
      }

      .delete-block {
        @include t-block;

        .product-delete-btn {
          @include product-btns;
          background-color: #dc3545;

          &:hover {
            @include red-border;
            background-color: $each-product;
          }
        }
      }

      .modify-block {
        @include t-block;

        .product-upgrade-btn {
          @include product-btns;
          background-color: #ffc107;

          &:hover {
            border: 2px solid #ffc107;
            background-color: $each-product;
          }
        }
      }
    }

    .modal {

      .modal-content {
        border: none;
        box-shadow: 0px 10px 14px 3px #dad6d6;
        top: 100px;
        width: 600px;

        .modal-header {
          @include modal-head;

          button {
            padding: 5px 10px;

            &:hover {
              box-shadow: inset 0px 0px 5px 1px #c9c9f6;
              color: #000000;
            }
          }

          h3 {
            margin: 10px;
          }
        }

        .modal-body {
          padding: 20px;

          form {

            div {
              margin: 10px 0;

              label {
                @include form-heading;
                width: 32%;
              }

              #category {
                height: $input-length;
              }

              label.error {
                color: $red-color;
                font-size: 13px;
                text-align: $txt-center;
                width: 100%;
              }
            }

            label {
              text-align: end;
              width: 32%;
            }

            input, textarea, select {
              margin: 5px;
            }
          }
        }
      }
    }

    .product-add {
      @include max-height;
      margin: 5px 0;

      .add-product-btn {
        @include product-add-btn;

        &:hover {
          border: 2px solid #0d6efd!important;
          background-color: #ffffff!important;
          color: #0d6efd!important;
          padding: 6px 8px;
        }
      }
    }

  }

  .cart-content {
    @include top-gap;
    background-color: $bg-content;
    height: 800px;

    table {
      background-color: $each-product;
      border: $bold-outline;
      margin: 0 auto;
      width: $half-wrapper;

      thead {

        th {
          border: $bold-outline;
          padding: 15px;
          text-align: $txt-center;

          &:hover {
            box-shadow: $nav-shadow;
          }
        }
      }

      tbody {

        td {
          border-bottom: $grey-border;
          border-right: $bold-outline;
          padding: 10px;
          text-align: $txt-center;
          width: $half-wrapper;

          &:hover {
            box-shadow: $nav-shadow;
          }
        }

        tr {
          border: $grey-border;
        }
      }
    }
  }

  .content-block {
    @include top-gap;
    background-color: $bg-content;

    button {
      border: none;
      border-radius: 5px;
      padding: 5px 8px;

      &:hover {
        border-radius: 5px;
        box-shadow: inset 0px 0px 5px 1px #0d0dda;
        color: #000000;
      }
    }

    center h3 {
      margin-bottom: 20px;
      text-transform: $txt-uppercase;
    }

    .modal {

      .modal-content {
        border: none;
        box-shadow: $modal-shadow;
        top: 70px;

        .modal-body {
          padding: 20px;

          .details {
            margin: 10px;

            p{
              margin-bottom: 5px;
            }
          }

          .img-wrap {
            background-color: $each-product;
            float: left;
            height: 200px;
            width: 200px;
          }
        }

        .modal-header {
          border-radius: 0;
          height: 60px;
          
          button {
            padding: 5px 10px;

            &:hover {
              box-shadow: inset 0px 0px 5px 1px #c9c9f6;
              color: #000000;
            }
          }
        }
      }
    }

    .outer-wrapper {
      display: grid;
      font-size: 14px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 20px;
      margin: 0 30px;

      .main-content {
        background-color: $each-product;
        border-radius: 20px;
        padding: 40px 20px;

        .details {
          float: right;
          line-height: 30px;
          margin: 40px 0;
          width: 61%;

          p {
            margin: 0;

            span {
              margin-left: 10px
            }
          }
        }

        .img-wrap {
          background-color: $each-product;
          display: inline-block;
          height: 200px;
          width: 200px;
        }
      }
    }
  }

  .content-wishlist {
    @include top-gap;
    background-color: $bg-content;
    height: 800px;

    .wrapper {
      @include wrapper-transition;
      width: 400px;

      .welcome {

        #name {
          animation: fadeInAnimation ease 3s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          display: block;
          text-transform: $txt-formate;

          @keyframes fadeInAnimation {
            0% {
              color: #ffa500;
              opacity: 0;
            }

            100% {
              color: $red-color;
              opacity: 1;
            }
          }
        }
      }

      h3 {
        font-size: 25px;
        margin-top: 30px;
        text-align: $txt-center;
      }

      &:hover {
        height: 250px;
        width: 440px;
      }
    }
  }

  .nav-wrapper {
    background-color: $each-product;
    box-shadow: $nav-drop-shadow;
    position: sticky;
    top: 0;
    z-index: 1;

    #user-info {
      justify-content: end;
      width: 35%;

      #cart {
        cursor: pointer;
      }

      .dropdown {

        .dropdown-menu {
          border: none;
          width: 225px;

          .to-admin {
            font-size: 14px;
            margin: 5px 0;
            text-transform: $txt-uppercase;
          }

          .get-in, .exit {
            @include dropdown-btn;
            background-color: #fcf4f4;
            border: 2px solid #ffe5e5;
            cursor: pointer;
          }
        }

        &:hover {
          
          .dropdown-menu {
            background-color: $each-product;
            display: block;
          }
        }
      }

      .wishlist {
        cursor: pointer;
      }
    }

    .navbar {

      #nav-content {
        flex: 1;
        justify-content: end;
        text-transform: $txt-formate;
      }

      .fa, .fa-solid {
        margin-right: 5px;
      }

      .navbar-brand {

        img {
          @include max-height;
          object-fit: cover;
          width: 40px;
        }
      }
    }
  }

  .content-login {
    @include top-gap;
    background-color: $bg-content;
    display: grid;
    height: 750px;

    form {
      @include welcome-block;

      center {

        .submit-btn {
          @include submit-btn;
        }

        p {
          color: $red-color;
        }
      }

      .dp {
        @include dp-block;
      }

      .error-message {
        @include error-msg;
        color: $red-color;
      }
      
      .username,
      .password {
        @include login-input;

        #username-error, 
        #password-error {
          @include error-msg;
          color: $red-color;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  @mixin login-input {
    height: $input-length;
    margin: 20px 0;
  }

  body {
    font-size: 14px;
  }

  .cart-content {
    @include top-gap;
    background-color: $bg-content;
    height: 600px;

    table {
      background-color: $each-product;
      border: $bold-outline;
      margin: 0 auto;
      width: 90%;

      thead {

        th {
          border: $bold-outline;
          text-align: $txt-center;
        }
      }

      td {
        border-bottom: $grey-border;
        border-right: 2px solid #000000;
        padding: 5px 10px;
        text-align: $txt-center;
        width: $half-wrapper;
      }
    }
  }

  .content-block {
    @include top-gap;
    background-color: $bg-content;
    text-transform: $txt-formate;

    .modal {
      margin: $m-outer-gap;
      top: 68px;
      width: 370px;

      .modal-content {
        box-shadow: 0px 8px 17px -3px #dad6d6;
        border: none;

        .modal-header {
          height: 60px;
        }

        .modal-body {
          
          .main-content {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .main-content {
      background-color: $each-product;
      margin: $m-outer-gap;
      padding: 20px;

      .details {
        margin: 10px 0;

        p {
          margin-bottom: 0px;
        }
      }

      .img-wrap {
        background-color: $each-product;
        height: 120px;
        padding: 10px;
        width: 120px;

        img {
          object-fit: contain;
          height: 100px;
          width: 100px;
        }
      }
    }
  }

  .content-wishlist {
    @include top-gap;
    background-color: $bg-content;
    height: 600px;

    .login-content {
      display: none;
      margin: 0 auto;
      width: $sign-in-cover;

      button {
        margin-left: 40px;
      }
    }

    .wrapper {
      @include wrapper-transition;
      width: 300px;

      .welcome {
        #name {
          animation: fadeInAnimation ease 3s;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
          display: block;
          text-transform: $txt-formate;

          @keyframes fadeInAnimation {
            0% {
              opacity: 0;
              color: #ffecc8;
            }

            100% {
              opacity: 1;
              color: $red-color;
            }
          }
        }
      }

      h3 {
        font-size: 25px;
        margin-top: 30px;
        text-align: $txt-center;
      }
    }
  }

  .nav-wrapper {
    box-shadow: $nav-drop-shadow;
    position: sticky;
    z-index: 1;

    nav {
      height: 68px;

      #navbar-content {
        background-color: $each-product;
        border: none;
        box-shadow: 0px 12px 12px 2px #eeeeee;

        .navbar-nav li {
          padding: 0 8px;
          text-transform: $txt-formate;

          .fa, .fa-solid {
            margin-right: 5px;
          }

          .show {
            background-color: $each-product;
            padding: 8px;

            li {
              margin: 10px 0;
              padding: 0;

              .admin-page {
                font-size: 12px;
                padding: 0;
                text-transform: $txt-uppercase;
              }

              .exit {
                @include exit-btn;
                background-color: #fcf4f4;
                border: 2px solid #ffe5e5;
                color: #000000;
                font-size: 12px;
              }
            }
          }
        }
      }

      .navbar-brand img {
        height: 50px;
        width: auto;
      }
    }
  }

  .content-login {
    @include top-gap;
    background-color: $bg-content;
    display: grid;

    form {
      @include welcome-block;

      center {
        padding: 10px 0;
        width: 100%;

        .submit-btn {
          @include submit-btn;
        }

        p {
          color: $red-color;
        }
      }

      .dp {
        @include dp-block;
      }

      .error-message {
        @include error-msg;
        color: $red-color;
      }

      .username,
      .password {
        @include login-input;

        #password-error,
        #username-error {
          @include error-msg;
          color: $red-color;
        }
      }
    }
  }

  .admin-block {
    @include top-gap;
    background-color: $bg-content;

    .data-table {
      background-color: $each-product;
      border: $bold-outline;
      margin: 10px auto;
      text-align: $txt-center;
      width: 350px;

      th {
        border: $bold-outline;
        padding: 5px
      }

      td {
        border: $grey-border;
        border-right: $bold-outline;
      }

      .delete-block {
        @include t-block;

        .product-delete-btn {
          @include phone-modal-btn;
        }
      }

      .modify-block {
        @include t-block;

        .product-upgrade-btn {
          @include phone-modal-btn;
        }
      }
    }


    .modal {
      position: relative;
      z-index: 0;
  
      .modal-content {
        border: none;
        box-shadow: 0px 4px 6px 2px #eeeeee;
        width: 370px;

        .modal-header {
          @include modal-head;
        }

        .modal-body {
          padding: 20px;

          form {

            div {
              margin: 10px 0;

              label {
                @include form-heading;
              }

              #category {
                height: $input-length;
              }

              label.error {
                color: $red-color;
                font-size: 13px;
                text-align: $txt-center;
                width: 100%;
              }
            }

            input, select, textarea {
              margin-top: 10px;
            }

            label {
              text-align: end;
              width: 32%;
            }

            #update-submit-btn {
              margin: 15px;
            }

            .category {

              select {
                width: 162px;
              }
            }
          }
        }

        .question-block {
          .accept {
            border: none;

            &:hover {
              @include red-border;
            }
          }
        }
      }
    }

    .product-add {
      @include max-height;

      .add-product-btn {
        @include product-add-btn;
      }
    }
  }
}

