$myfont: 15px;
$head-nav-width: 20%;
$intro-font-weight: 600;
$date-posting: 13px;

@mixin b-bottom {
  border-bottom: 1px solid lightgray;
}

@mixin b-top {
  border-top: 1px solid lightgray;
}

@mixin b-shadow {
  box-shadow: 0 0px 6px 0 lightgrey;
}

@mixin for-photos {
  font-weight: 400;
  font-size: 16px;
}

@mixin box-shade {
  box-shadow: 0px 2px 3px 0px lightgrey;
}

.main-nav-bar {

  position: fixed;
  width: 100%;

  .page-head-nav {
    
    position: static;
    @include box-shade;

    form {
      border-radius: 50px;
      width: $head-nav-width;
    }

    #my-nav-bar {
      font-size: 25px;
    }

    .header-nav-account {
      font-size: 20px;
      width: 14%;
    }

    .input-search {
      font-size: $myfont;
    }

    .space {
      flex: 1;
    }

    .top-nav-setting {
      width: $head-nav-width;
    }
  }
}

.fb-full-body {

  @include b-top;
  font-size: 18px;
  
  .main-body {
    margin: 0 auto;
    width: 83.5%;

    .introduction {
      padding: 15px;
      @include box-shade;

      button {
        font-weight: $intro-font-weight;
        font-size: $myfont;
      }

      span {
        font-size: $myfont;

        a {
          font-weight: $intro-font-weight;
        }
      }

      #home-icon {
        font-size: 27px;
      }

      #map-icon {
        font-size: 27px;
      }

      .graduation-icon {
        font-size: 22px;
      }
    }

    .friends-list {
      @include box-shade;
    }

    .see-all-photo {
      @include for-photos;
      @include box-shade;
    }

    .templet-about {
      width: 40.8%; 

      a {
        @include for-photos;
      }

      .grid-container {
        display: grid;
        grid-template-columns:  auto auto auto;
        row-gap: 10px;
        column-gap: 10px;

        .grid-item {
          margin-bottom: 15px;

          a {
            font-size: $date-posting;
            font-weight: 600;
          }

          img {
            border-radius: 10px;
          }
        }
      }

    }

    .templet-posts {
      float: right;
      width: 57.8%;

      .extra-option, .posts-setting, .post-block {
        @include box-shade;
      }
    }
  }
}

.profile {
  margin: 0 auto;
  width: 87%;

  .camera {
    position: relative;
    right: 58px;
    top: 38px;
  }

  .dp-parent {
    padding: 8px 11px;
    border-radius: 50%;
    margin: 0;
  }

  .extra {
    height: 58px;
  }

  .name-info {
    right: 30px;
    position: relative;
    top: -40px;

    .img-stack {
      position: relative;
      right: 12%;
    }
  }

  .profile-intro {
    @include b-bottom;
    height: 160px;

    .fb-dp {
      position: relative;
      bottom: 30px;
    }

    .story-edit {
      position: relative;
      left: 441px;
      top: 15px;
      display: inline-block;
    }
  }
  
}

.templet-posts {

  .flags {
    @include b-top;

    i {
      font-size: 22px;
    }
  }

  .extra-option {
    .onmind {
      font-size: 16px;
      width: 92.9%;
    }
  }

  .posts-setting {

    button, .view-opt {
        
      font-size: $myfont;
      font-weight: $intro-font-weight;

      i {
        font-size: 18px;
      }
    }

    .opt-button {
      margin-top: 2px;
    }

    .view-opt {
      border-top: 1px solid lightgray;
    }
  }

  .post-block {

    .post-head {
      @include b-bottom;
      font-size: $myfont;
      font-weight: 500;
      padding: 10px 15px;
      
      #post-dp {
        bottom: 14px;
        position: relative;
      }

      p {
        font-weight: 400;
        line-height: $date-posting;
      }

      .post-date {
        font-size: $date-posting;
        font-weight: 300;
      }

      .post-dp-block {
        margin-right: 5px;
      }
    }
    
    .post-image-block {
      height: 560px;
      @include b-bottom;
  
      .post-img {
        margin: auto;
      }
    }

    .like-content {
      font-size: 15px;
      font-weight: 400;
  
      .like-icon {
        padding: 3px;
        font-size: $date-posting;
      }
    }
  }

}

table {
  @include b-top;
  height: 45px;
  width: 95.5%;

  .share-icon {
    font-size: $myfont;
    font-weight: 500;
    text-align: center;
  }
}