#app-box {
  line-height: 15px;
  width: 75%;
}

#app-content {
  width: 48.5%;
}

#dropdownbtn:hover .dropbtn {
  background-color: grey;
}

#footer-left {
  width: 66%;
}

#footer-news-top {
  height: 415px;
}

#footer-news-bottom {
  height: 453px;
}

#footer-right {
  width: 32%;
}

#head {
  border-bottom: 1px solid lightgrey;
}

#mascng {
  width: 60%;
}

#mid-left {
  width: 67.2%;
}

#mid-i-a-trend {
  font-size: 15px;
}

#mid-i-a-bangladesh {
  font-size: 16px;
}
 
#trend-image {
  position: relative;
}

#mid-right {
  width: 30%;
}

#middle-a {
  background-color: rgb(251 232 231);
}

#middle-b {
  background-color: lightgoldenrodyellow; 
}

#middle-c {
  background-color: rgb(226, 252, 254); 
}

#middle-g {
  background-color: rgb(255, 249, 199);
}

#new1 {
  position: absolute;
}

#news-box {
  height: 140px;
  left: -1px;
  position: relative;
  top: 260px;
  width: 80%;
}

#news-content {
  width: 48%;
}

#news1-box {
  border-radius: 15px;
  background: white;
  bottom: 170px;
  height: 110px;
  left: 5%;
  padding: 20px;
  position: relative;
  width: 250px;
}

#trending-bottom-a {
  width: 31.5%;
}

#trend-button {
  font-size: 10px;
  background-color: lightgoldenrodyellow;
}

#trend-txt {
  font-size: 29px;
  line-height: 35px;
}

#top-nav {
  box-shadow: 0px 19px 19px rgb(239 236 236);
}

#weekly {
  height: 580px;
}

#weekly-box {
  height: 140px;
  left: 26px;
  position: relative;
  top: 260px;
  width: 85%;
}

#weekly-head-icons-circle {
  bottom: 15px;
  color: lightgrey;
  font-size: 10px;
  position: relative;
}

#weekly-head-icons {
  position: absolute;
  right: 160px;
}

.dropdown-menu a:hover {background-color: grey;}

.trending-top-jpg {
  position: absolute;
}

.fan-count {
  font-size: 12px;
  font-weight: 700;
}

.fans {
  font-size: 10px;
}

.nav-item:hover {
  background-color: lightgrey;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}

.overlay {
  background-color: rgb(50 69 105);
  bottom: 400px;
  height: 400px;
  left: 0;
  opacity: 0.3;
  position: relative;
  width: 765px;
}

.super-news {
  position: absolute;
}

.trend-tag-a {
  font-size: 11px;
  padding: 8px 15px;
}

.trend-tag {
  font-size: 15px;
  font-weight: 700;
}

.trend-image {
  height: 400px;
}

.trend-text {
  display: inline-block;
  position: relative;
  height: 150px;
  width: 70%;
  bottom: 550px;
  color: white;
  padding-left: 30px;
}


